* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.section__title {
  font-size: 50px;
  color: #1d293f;
  padding-bottom: 30px;
}
@media (max-width: 900px) {
  .section__title {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  .section__title {
    font-size: 24px;
  }
}
